Sentio.Grid.Executor/Service References/RemoteServices/Deployment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/Sentio.Grid/Server/Deployment?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sentio.Grid.Common" />
  <xs:import schemaLocation="http://localhost:8090/Sentio.Grid/Server/Deployment?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetInstalledApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstalledApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sentio.Grid.Common" minOccurs="0" name="GetInstalledApplicationsResult" nillable="true" type="q1:ArrayOfApplicationDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApplicationInstalledByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApplicationInstalledByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsApplicationInstalledByIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApplicationInstalledByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApplicationInstalledByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsApplicationInstalledByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>