Sentio.Grid.Executor/Service References/RemoteServices/Deployment3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sentio.Grid.Common" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sentio.Grid.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/Sentio.Grid/Server/Deployment?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfApplicationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationDefinition" nillable="true" type="tns:ApplicationDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationDefinition" nillable="true" type="tns:ArrayOfApplicationDefinition" />
  <xs:complexType name="ApplicationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDefinition" nillable="true" type="tns:ApplicationDefinition" />
</xs:schema>