Sentio.Grid.Server/Schemas/ApplicationDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicationDefinitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Application">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Author" type="xs:string" use="required" />
            <xs:attribute name="Assembly" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>